.aaa
  %h2 しんきとーろく
  .ccc
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.label :なまえ
        %br/
        = f.text_field :name
      .field
        = f.label :Eめーる
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field
        = f.label :ぱすわーど
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} 文字以上)
        %br/
        = f.password_field :password, autocomplete: "new-password"
      .field
        = f.label :ぱすわーどチェック
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password"
      .actions
        = f.submit "レッツとーろく", class:"signup_btn"
    = render "devise/shared/links"
