.loginPage
  %h2 ろぐいん
  .bbb
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :eめーる,class:"label"
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field
        = f.label :ぱすわーど,class:"label"
        %br/
        = f.password_field :password, autocomplete: "current-password"

      - if devise_mapping.rememberable?
        .remember_me
          = f.check_box :remember_me
          = f.label :りめんばーみー
      .actions
        = f.submit "レッツろぐいん",class:"login_btn"
      = render "devise/shared/links"
